header{
    width:100%;
    height:110px;
    background-color:darkblue;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
header img{
    width:140px;
    height:80px;
    padding: 0 8px;
    padding-top: 2px;
    padding-right: 20px;
    margin-left: 40px; 
      
}
header li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
}
header li a{
    text-decoration: none;
    color:white;
}
header li:hover{
    background-color: black;
    border-radius: 8px;

    height:20px;
}
header select{
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 20px;
    color: lightskyblue;
}
header select:hover{
    background-color: black;
}
#startfree{
    background-color: orange;
    width: 40px;
    height: 10px;
}
nav{
    background-color: blue;
    width:100%;
    height:50px;
    padding-top: 1px;
}
nav li{
    display:inline-block;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav li a:hover{
    background-color: black;
    border-radius: 8px;
}
section article{
    background-color: blue;
    width: 100%;
    height: 400px;
    padding-top: 1px;
}
section article h1{
    font-size: 38px;
    color: white;
    padding-top: 50px;
}
section article p{
    color:white;
    font-size:18px;
}
section button{
    background: orange;
    width:80px;
    height:30px;
    margin-top: 70px;
    color:white;
    border-radius: 8px;
}
section button:hover{
    background-color: black;

}
footer{
    background-color: grey;
    height:100px;
    width: 100%;
    padding-top: 10px;
    color: white;
    text-align: center;
}
footer button{
    background-color: whitesmoke;
    border-radius: 5px;
}
footer button:hover{
    background-color: grey;    
}