{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link  rel="stylesheet" href='{% static "css/sam1login.css"  %}'>
</head>
<body>
  <center>
        <form>
            <h1>LOGIN</h1>
            <p>Remember everything important</p><br>
            <a id="google" href="https://www.google.com/">Continue with Google</a><br><br>
            <a id="apple" href="https://www.apple.com/">Continue with Apple</a><br><br><hr>
            <input type="text" placeholder="Email address or username"><br>
            <button><a id="a3" href='{% url "sam1" %}'>Register</a></button>
            <p id="p1">Remember me for 30 days</p>
            <p id="p2">Don't have an account?</p>
            <a id="a1" href="">Create account</a>
            
        </form>
        </center>
    </body>
    </html>