{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sam1</title>
    <link  rel="stylesheet" href='{% static "css/sam1.css"  %}'>
</head>
<body>
    <header>
    <img src='{% static "images/company.png" %}'>
    <ul>
       <li><a href='{% url "sam1login" %}'>LOGIN</a></li>
        <li><a href="">START FREE TRAIL</a></li>
        <select name="" id="language">
            <option value="">EN</option>
            <option value="">English</option>
            <option value="">Tamil</option>
        </select>
    </ul>
    </header>
    <nav>
        <ul>
            <li><a href="">FEATURES</a></li>
            <li><a href="">TEMPLATES</a></li>
            <li><a href="">CUSTOMERS</a></li>
            <li><a href="">PRICING</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">FORAGENCIES</a></li>
            <li><a href="">PPCMARKETER</a></li>
        </ul>
    </nav>
    <center>
    <section>
        <article><h1> Bulding Landing Lorem ipsum dolor, sit amet consectetur <br>adipisicing elit. Aut, iusto? Et, nostrum.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Modi rerum accusantium atque impedit quae et nulla necessitatibus.</p>   
    <button>CLICK</button>
    </article>
    </section>
    <footer>
        <h4>Accusantium mollitia! Cumqum labore fugiat voluptas sint modi sit repellat pariatur consequuntur ipsum fugit!</h4>
        <button>REGISTER</button>
    </footer>
    </center>
</body>
</html>